body{
    overflow: hidden; /* Hide scrollbars */
    background-color: black;
}

main {
    color: green;
    display: inline-flex !important;
    font-weight: bolder;
}

a {
    color: green !important;
    font-size: 20px;
}
.char-vector {
    /* height: 1500px; */
    height: max-content;
    position: relative;
    writing-mode: vertical-rl;
    text-orientation: upright;
    animation: mymove infinite;
    animation-name: example;
    animation-timing-function: linear;
    font-size: 20px;
    /* animation-duration: 12s; */
}

@keyframes example {
    0% {top: -950px;}
    100% {top:1100px;}
}
